.kanjax {
    color: #c00000 !important;
    padding: 0px !important;
    border: none !important;
    background-image: none !important;
    display: inline !important;
    cursor: pointer;
}
a .kanjax {
    color: #a000a0 !important;
    cursor: pointer;
}
.kanjax_lemma:hover {
    background-color: white;    
}
.kanjax_ruby {
    text-align: center !important;
    display: inline-block !important;
}
.kanjax_rt {
    display: block !important;
    font-size: 65%;
    text-indent: 0px;
    line-height: 0.9em;
}
rt, rp { font-size: 65%; }