#kanjax_popup {
  width:     640px;
  /*display:   none;*/
  background-color: #e0e0ff;
  border:    1px solid #8080ff;
  padding:   1.2em;
  border-radius: 0.8em;
  text-align:    center;
}
#kanjax_popup div, #kanjax_popup span, #kanjax_popup td {
  cursor: default;
}
#kanjax_popup .editable:hover {
  background-color: white;
}
#kanjax_popup input{
  font-weight: inherit;
  font-family: inherit;
  font-style:  inherit;
  font-size:   80%;
  word-break:  break-word;
}
#kanjax_popup #strokes {
  max-width: 640px;
  max-height: 85px;
}
#kanjax_popup #onyomi, #kanjax_popup #kunyomi {
  font-style: normal;
}
#kanjax_popup #kanji {
  margin-right: 0.6em;
}
#kanjax_popup #keyword {
  margin-left: 0.6em;
}
#kanjax_popup #yomi, #kanjax_popup #strokes {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
#kanjax_popup .japanese {font-family: "Kochi Mincho";}
#kanjax_popup .small {font-size: 15px;}
#kanjax_popup .medium {font-size: 19px;}
#kanjax_popup .large {font-size: 24px;}
#kanjax_popup .huge {font-size: 40px;}
#kanjax_popup .bold {font-weight: bold;}
#kanjax_popup .italic {font-style: italic;}
