.kanjax {
  color: #c00000 !important;
  cursor: pointer;
  padding: 0px !important;
}
.kanjax:hover {
  text-decoration: none;
}
a .kanjax {
  color: #a000a0 !important;
  cursor: pointer;
}
.kanjax_ruby {
    text-align: center !important;
    display: inline-block !important;
}
.kanjax_rt {
    display: block !important;
    font-size: 70%;
    text-indent: 0px;
    line-height: 0.9em;
}
rt, rp { font-size: 70%; }