.kanjax {
  color: #c00000 !important;
  cursor: pointer;
  padding: 0px !important;
}
.kanjax:hover {
  text-decoration: none;
}
a .kanjax {
  color: #a000a0 !important;
  cursor: pointer;
}
.kjruby {
    display: inline-block !important;
}
.kjrt {
    display: block !important;
    font-size: 70%;
}