.kanjax_ruby {
    text-align: center;

    /* fixes webkit flickering */
    display: inline-block !important;
}
.emptied_by_me {
    display: none !important;
}
.kanjax_rt {
    display: block; /*!important;*/
    text-indent: 0px;
    line-height: 0.9em;

    font-size: 65%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-text-size-adjust:0;
}
/*ruby {
    display: inline-block;
}
rt {
    display: block;

    font-size: 65%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-text-size-adjust:0;
}*/